In [1]:
import pandas as pd

### Khai báo DataFrame

In [6]:
df1 = pd.DataFrame()
df1

listIndex = ['hsA', 'hsB', 'hsC', 'hsD', 'hsE']
listData = ['Trung', 'Quân', 'Minh', 'Duy', 'Khang']
df2 = pd.DataFrame(listData)
df2

# định nghĩa index
df3 = pd.DataFrame(listData, index = listIndex, columns=['Name'])
df3

#khai báo theo kiểu list of list
df4 = pd.DataFrame([['nv1', 22], ['nv2', 26], ['nv3', 32], ['nv4', 24]], columns = ['Name', 'Age'])
df4

  Name  Age
0  nv1   22
1  nv2   26
2  nv3   32
3  nv4   24

In [8]:
# khai báo theo kiểu dictionary
dic = {'Name' : ['Trung', 'Quân', 'Minh', 'Khang'],
      'Age' : [22, 24,33, 27],
      'Gender': ['Nam', 'Nam', 'Nữ', 'Nam']
      }
df5 = pd.DataFrame(dic)
df5

    Name  Age Gender
0  Trung   22    Nam
1   Quân   24    Nam
2   Minh   33     Nữ
3  Khang   27    Nam

In [34]:
#tạo theo kiểu list dictionary
#giống json nè:))
listDic = [
    {'Name': 'Trung', 'Age': 22, 'Gender': 'Male'},
    {'Name': 'Quân', 'Age': 23, 'Gender': 'Male'},
    {'Name': 'Hân', 'Age': 21, 'Gender': 'Female'}
]

df6 = pd.DataFrame(listDic)
df6

    Name  Age  Gender
0  Trung   22    Male
1   Quân   23    Male
2    Hân   21  Female

In [35]:
### rename column
df6.columns = ['Họ Tên', 'Tuổi', 'Giới Tính']
df6

  Họ Tên  Tuổi Giới Tính
0  Trung    22      Male
1   Quân    23      Male
2    Hân    21    Female

In [36]:
### dùng rename
df6 = df6.rename(columns = {'Họ Tên' : 'Nom'})
df6

df6.rename(columns = {'Giới Tính': 'Genre'}, inplace= True)
df6

     Nom  Tuổi   Genre
0  Trung    22    Male
1   Quân    23    Male
2    Hân    21  Female

## Thêm column cho data frame = cách thêm 1 seri

In [22]:
#truy xuất 1 cột
df6['Nom']

ser1 = df6['Tuổi']

ser1.Nom

In [24]:
#thêm cột cho df

ser1 = df6['Tuổi']*2
df6['Salary'] = ser1
df6

     Nom  Tuổi   Genre  Salary
0  Trung    22    Male      44
1   Quân    23    Male      46
2    Hân    21  Female      42

### Xóa column

In [31]:
#dùng del -> nó sẽ xóa hẳn luôn
del df6['Salary']
df6

KeyError: 'Salary'

In [33]:
#dùng pop -> nó sẽ tạo xóa (lấy đi) column đó và có thể phục hồi lại dc
temp = df6.pop('Genre')
df6
temp

KeyError: 'Genre'

In [37]:
##xem danh sách column trong df
df6.columns

Index(['Nom', 'Tuổi', 'Genre'], dtype='object')