In [1]:
import numpy as np
import pandas as pd

In [16]:
a = pd.DataFrame([['a','b',1], ['aa', 'bb', 2], ['aa', 'bb', 2], ['aa1', 'b1b', 3], ['2aa', '2bb']], columns = ['name', 'address', 'age'])

In [18]:
a

  name address  age
0    a       b  1.0
1   aa      bb  2.0
2   aa      bb  2.0
3  aa1     b1b  3.0
4  2aa     2bb  NaN

In [19]:
clinic_df = pd.DataFrame([ 
['January', 100, 100, 23, 100], ['February', 51, 45, 145, 45], ['March', 81, 96, 65, 96], ['April', 80, 80, 54, 180], 
['May', 51, 54, 54, 154], ['June', 112, 109, 79, 129]], columns=['month', 'clinic_east', 'clinic_north', 'clinic_south', 'clinic_west'])

In [20]:
clinic_df[clinic_df.month == 'May']

  month  clinic_east  clinic_north  clinic_south  clinic_west
4   May           51            54            54          154

In [22]:
clinic_df.iloc[5]

month           June
clinic_east      112
clinic_north     109
clinic_south      79
clinic_west      129
Name: 5, dtype: object

In [23]:
clinic_df.reset_index(inplace = True)

In [24]:
age_check = lambda x: 'Welcome to the site!' \ if age > 13 \ else 'Sorry you are too young to enter this site.'

SyntaxError: unexpected character after line continuation character (Temp/ipykernel_18932/843863752.py, line 1)

In [25]:
mylambda = lambda x: x**2 + 3*x if x > 7 else 2*x - 10

In [26]:
mylambda(4)

-2

In [27]:
data=np.random.rand(2,4,5)

In [33]:
 pd.Panel(ndarray.data)

AttributeError: module 'pandas' has no attribute 'Panel'